<div id="modal-mini-cart" class="modal-quick-view-mini-cart" style="display: none;" >
    <!-- Modal content -->
    <div class="modal-content">
       <button class="close js__quick-view-popup-close">
        {% render 'icon-mobile-menu-close' %}
       </button>
       <div class="">
          <div class="image-section">
             <img class="js__popup-mini-cart-product-image" loading="lazy">
          </div>
          <div class="product__info">
             <!-- Hide in Small Screen Devices -->
             <p class="h3  js__popup-mini-cart-product-name">
             </p>
             <div class="price flex js__popup-mini-cart-product-price">
             </div>
             <div class="benefits-section js__popup-mini-cart-product-benefits">
                <span class="benefits-title">Benefits</span>
                <div class="js__popup-mini-cart-benefits-description">
                <ul>
                   <li>Promotes an Overall Sense of Calm</li>
                   <li>Helps Promote Relaxation &amp; Reduced Nervousness</li>
                   <li>Maintains Healthy Neurotransmitter Release (Specifically, GABA)</li>
                   <li>Promotes Both Healthy REM &amp; Non-REM Sleep Cycles</li>
                </ul>
             </div>
             <div class="add-to-cart-section">
                <button title="Add" data-attr-variantid="" data-product-id="" class="btn--primary js__addon-add-to-cart ">
                Add
                </button>
             </div>
          </div>
       </div>
    </div>
</div>