<div class="default-page-content">
    <div class="container-1020">
        <h1 class="text-center">{{ page.title }}</h1>

        <div class="okeReviews-widget-wrapper">
            <div class="orc-allReviewsCollections">
                <div id="orc-collection-control" style="display: none">
                    <div id="orc-collection-controls-label" class="orc-collectionControlsLabel">Select a product range</div>
                    <div class="orc-collectionControls" role="radiogroup" aria-labelledby="orc-collection-controls-label">
                        <div class="orc-collectionControls-item">
                            <input
                                id="orc-reviews-control-0"
                                class="orc-collectionControls-item-input orc-collectionControls-item-input--checked js-orc-collectionRadio"
                                type="radio"
                                checked
                                value="b2427f39-d433-4580-b177-c5ea4cd1b3bc"
                                name="orc-reviews-collection-control"
                            />
                            <label for="orc-reviews-control-0" class="orc-collectionControls-item-label">
                                <span class="orc-collectionControls-item-label-heading">BPC Products</span>
                            </label>
                        </div>
                        <div class="orc-collectionControls-item">
                            <input
                                id="orc-reviews-control-1"
                                class="orc-collectionControls-item-input js-orc-collectionRadio"
                                type="radio"
                                value="de2da0e1-4290-4d9c-a00d-a7d5f6684853"
                                name="orc-reviews-collection-control"
                            />
                            <label for="orc-reviews-control-1" class="orc-collectionControls-item-label">
                                <span class="orc-collectionControls-item-label-heading">Aging & Longevity</span>
                            </label>
                        </div>
                        <div class="orc-collectionControls-item">
                            <input
                                id="orc-reviews-control-2"
                                class="orc-collectionControls-item-input js-orc-collectionRadio"
                                type="radio"
                                value="8567ec59-5650-4c8f-bbb0-c5a362444c31"
                                name="orc-reviews-collection-control"
                            />
                            <label for="orc-reviews-control-2" class="orc-collectionControls-item-label">
                                <span class="orc-collectionControls-item-label-heading">Cardio Metabolic</span>
                            </label>
                        </div>
                        <div class="orc-collectionControls-item">
                            <input
                                id="orc-reviews-control-3"
                                class="orc-collectionControls-item-input js-orc-collectionRadio"
                                type="radio"
                                value="3ded6a79-86e7-4180-baaf-d6e0b01a05b9"
                                name="orc-reviews-collection-control"
                            />
                            <label for="orc-reviews-control-3" class="orc-collectionControls-item-label">
                                <span class="orc-collectionControls-item-label-heading">Skin & Hair</span>
                            </label>
                        </div>
                        <div class="orc-collectionControls-item">
                            <input
                                id="orc-reviews-control-4"
                                class="orc-collectionControls-item-input js-orc-collectionRadio"
                                type="radio"
                                value="03b1b86e-276b-4ebe-bf8f-dd4aeece16f2"
                                name="orc-reviews-collection-control"
                            />
                            <label for="orc-reviews-control-4" class="orc-collectionControls-item-label">
                                <span class="orc-collectionControls-item-label-heading">Energy & Hormone</span>
                            </label>
                        </div>
                        <div class="orc-collectionControls-item">
                            <input
                                id="orc-reviews-control-5"
                                class="orc-collectionControls-item-input js-orc-collectionRadio"
                                type="radio"
                                value="e104b9eb-31eb-4b4d-84c9-487b1733b4a3"
                                name="orc-reviews-collection-control"
                            />
                            <label for="orc-reviews-control-5" class="orc-collectionControls-item-label">
                                <span class="orc-collectionControls-item-label-heading">Gastrointestinal</span>
                            </label>
                        </div>
                        <div class="orc-collectionControls-item">
                            <input
                                id="orc-reviews-control-6"
                                class="orc-collectionControls-item-input js-orc-collectionRadio"
                                type="radio"
                                value="e837a6e2-e41b-4e23-8084-700d590128b8"
                                name="orc-reviews-collection-control"
                            />
                            <label for="orc-reviews-control-6" class="orc-collectionControls-item-label">
                                <span class="orc-collectionControls-item-label-heading">Immunity</span>
                            </label>
                        </div>
                        <div class="orc-collectionControls-item">
                            <input
                                id="orc-reviews-control-7"
                                class="orc-collectionControls-item-input js-orc-collectionRadio"
                                type="radio"
                                value="11306648-e0f8-4db2-9cb8-fc42447226c8"
                                name="orc-reviews-collection-control"
                            />
                            <label for="orc-reviews-control-7" class="orc-collectionControls-item-label">
                                <span class="orc-collectionControls-item-label-heading">Joint & Muscle</span>
                            </label>
                        </div>
                        <div class="orc-collectionControls-item">
                            <input
                                id="orc-reviews-control-8"
                                class="orc-collectionControls-item-input js-orc-collectionRadio"
                                type="radio"
                                value="11377acb-2665-4c3a-9129-dec2fe6b0913"
                                name="orc-reviews-collection-control"
                            />
                            <label for="orc-reviews-control-8" class="orc-collectionControls-item-label">
                                <span class="orc-collectionControls-item-label-heading">Sleep & Mood</span>
                            </label>
                        </div>
                        <div class="orc-collectionControls-item">
                            <input
                                id="orc-reviews-control-9"
                                class="orc-collectionControls-item-input js-orc-collectionRadio"
                                type="radio"
                                value="shopify-site-reviews-930babc3-c975-4469-9703-c906e5ea41b9"
                                name="orc-reviews-collection-control"
                            />
                            <label for="orc-reviews-control-9" class="orc-collectionControls-item-label">
                                <span class="orc-collectionControls-item-label-heading">General Experience</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="orc-widget-snippet" class="drp-okendo-reviews" data-oke-widget data-oke-reviews-group-id="b2427f39-d433-4580-b177-c5ea4cd1b3bc"></div>
            </div>
        </div>
    </div>
</div>


<script>
((document, window) => {
    const okeRenderedHandler = function(e) {
        if (e.detail.widget === 'reviews-widget') {
         setupCollectionControls();
       }
    }
  
    document.addEventListener('oke-rendered', okeRenderedHandler);
  
    if (!String.prototype.startsWith) {
        Object.defineProperty(String.prototype, 'startsWith', {
            value: function(search, rawPos) {
                var pos = rawPos > 0 ? rawPos|0 : 0;
                return this.substring(pos, pos + search.length) === search;
            }
        });
    }
  
    function setupCollectionControls() {
        const snippetEl = document.querySelector('#orc-widget-snippet');
        const controlEl = document.querySelector('#orc-collection-control');
        const collectionRadioElements = Array.prototype.slice.call(document.querySelectorAll('.js-orc-collectionRadio'));
        controlEl.style.display = 'block';
        collectionRadioElements.forEach(function (radioElement) {
            radioElement.addEventListener('change', function () {
            if (radioElement.value) {
                if(radioElement.value.toLowerCase().startsWith('shopify-')) {
                    snippetEl.removeAttribute('data-oke-reviews-group-id');
                    window.okeWidgetApi.setProduct(snippetEl, radioElement.value);
                }
                else {
                    snippetEl.removeAttribute('data-oke-reviews-product-id');
                    window.okeWidgetApi.setGroup(snippetEl, radioElement.value);
                }
            } else {
                snippetEl.removeAttribute('data-oke-reviews-group-id');
                snippetEl.removeAttribute('data-oke-reviews-product-id');
                snippetEl.innerHTML = '';
                window.okeWidgetApi.initWidget(snippetEl, true);
            }
            collectionRadioElements.forEach(function (element) {
                element.classList.remove('orc-collectionControls-item-input--checked');
            });
            radioElement.classList.add('orc-collectionControls-item-input--checked');
            });
        });
        document.removeEventListener('oke-rendered', okeRenderedHandler);
    }
})(document, window);
</script>