<div class="container-1340">
  <div>
    <h1>H1 Mrs Eaves 40px Dark</h1>
    <h2>H2 Mrs Eaves 30px Dark</h2>
    <h3>H3 Mrs Eaves 20px Dark</h3>
    <h4>H4 Mrs Eaves 18px Dark</h4>
    <h5>H5 Mrs Eaves 15px Dark</h5>
    <h6>H6 Mrs Eaves 12px Dark</h6>
    <p>
      Integer iaculis tellus est, id viverra nisi interdum sit amet. Morbi commodo ante nec ullamcorper ultrices.
      Vivamus ut feugiat nulla.
      <strong>Proin sodales sollicitudin libero. Morbi ultricies sapien ac massa blandit tempor</strong>
      <b>Proin sodales sollicitudin libero. Morbi ultricies sapien ac massa blandit tempor</b>
    </p>

    <a href="#" class="btn--primary">shop now</a>
    <a href="#" class="btn--secondary">shop now</a>
    <a href="#" class="btn--primary">shop now</a>
    <br>
    <a href="#" class="link--primary">Read More</a>
  </div>

  <div class="full-format">
    <br>
    <br>
    <p>
      Integer iaculis tellus est, id viverra nisi interdum sit amet. Morbi commodo ante nec ullamcorper ultrices.
      Vivamus ut feugiat nulla.
      <strong
        >Proin sodales sollicitudin libero. Morbi ultricies sapien ac massa blandit tempor. Sed a enim ex. Nunc placerat
        sem velit, id ullamcorper eros vehicula sed. Sed venenatis nulla eu dapibus imperdiet.</strong
      >
    </p>
    <p>
      <a href="">Integer iaculis</a> tellus est, id viverra nisi interdum sit amet. Morbi commodo ante nec ullamcorper
      ultrices. Vivamus ut feugiat nulla. Proin sodales sollicitudin libero. Morbi ultricies sapien ac massa blandit
      tempor. Sed a enim ex. Nunc placerat sem velit, id ullamcorper eros vehicula sed. Sed venenatis nulla eu dapibus
      imperdiet.
    </p>
    <hr>
    <h2>Heading 2</h2>
    <h3>heading 3</h3>
    <h4>heading 4</h4>
    <h5>heading 5</h5>
    <h6>heading 6</h6>
    <blockquote>This is an example Pull Quote. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</blockquote>
    <ul>
      <li>Cras quis sapien sodales, varius dolor eu, laoreet est.</li>
      <li>
        Aliquam accumsan nisi tellus, et euismod magna euismod non. Etiam ullamcorper lorem sed lacus porttitor, ut
        mollis lectus faucibus.
      </li>
      <li>Praesent quam mi, aliquam id tortor vel, fermentum ornare est.</li>
      <li>Cras in luctus lectus, ut tempus enim.</li>
      <li>
        Quisque tristique tellus in felis tempor rutrum. Sed ultricies, tellus sed ultricies lacinia, dolor ante
        convallis diam, vehicula pretium neque sem eleifend lacus. Fusce faucibus hendrerit interdum. Vestibulum at
        dolor iaculis urna tempor congue a sed felis.
      </li>
    </ul>
    <ol>
      <li>Cras quis sapien sodales, varius dolor eu, laoreet est.</li>
      <li>
        Aliquam accumsan nisi tellus, et euismod magna euismod non. Etiam ullamcorper lorem sed lacus porttitor, ut
        mollis lectus faucibus.
      </li>
      <li>Praesent quam mi, aliquam id tortor vel, fermentum ornare est.</li>
      <li>Cras in luctus lectus, ut tempus enim.</li>
      <li>
        Quisque tristique tellus in felis tempor rutrum. Sed ultricies, tellus sed ultricies lacinia, dolor ante
        convallis diam, vehicula pretium neque sem eleifend lacus. Fusce faucibus hendrerit interdum. Vestibulum at
        dolor iaculis urna tempor congue a sed felis.
      </li>
    </ol>
  </div>
</div>
